/* Reset */
/*html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}*/

/* general styles */
html, body{
  height: 100%;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", sans-serif;
}

a:hover{
  text-decoration: none;
}

/* padded section */
.pad-section {
  padding: 45px 0;
}
.pad-section img {
  width: 100%;
}

.pad-section .text-center h2:before, .pad-section .text-center h2:after {
  content: " ";
  display: inline-block;
  height: 1px;
  vertical-align: middle;
  background: #85817d;
  width: 80px;
  background-image: -webkit-linear-gradient(left top,#ecece4,#85817d);
  margin: 0 5px;
}

.pad-section .text-center h2:after {
  background-image: -webkit-linear-gradient(left top,#85817d,#ecece4);
}

.navbar-inverse {
  background-color: #282828;
  border-color: #080808;
}

.navbar-inverse .navbar-brand {
  color: #FE7E17;
}

.navbar-inverse .navbar-brand:hover {
  color: #ff9900;
}

.navbar-inverse .navbar-nav>li>a {
  color: #FE7E17;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #ff9900;
}

/* additional sections */
#home {
  background: url(../images/bg3.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home .avater{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    position: relative;
    cursor: default;
    box-shadow: 
        inset 0 0 0 0 rgba(200,95,66, 0.4),
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);    
    margin: 0 auto;
}

/* vertical-centered text */
#home .text-vcenter {
  background:repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  color: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#home .text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.hideme
{
    position: relative;
    opacity:0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.hideme.inLeft{
  right:200px;
}

.hideme.inRight{
  left:200px;
}

.hideme.inLeft.slide{
    right: 0px;
    opacity:1;
}

.hideme.inRight.slide{
    left: 0px;
    opacity:1;
}

#aboutTitle {
  /*background: #383838;*/
  color: #834206;
}

#about {

}

#about .col-sm-12 {
  margin-bottom: 50px;
}

#about .col-sm-5{
  text-align:center;
  padding: 20px;
}

#about h3:after{
  display: block;
  width: 250px;
  height: 5px;
  margin-top: 25px;
  border-bottom: 1px solid #BC793C;
  content: " ";
  margin-left: auto;
  margin-right: auto;
}

#about .col-sm-5 .geek{
  font-size: 1.3em;
  font-style: italic;
  line-height: 36px;
  color: #aaaaaa;
}

#about .lead {
  font-size: 18px;
  line-height: 35px;
  padding-top: 10px;
  border-top: 3px solid #FE7E17;
}

#skill .col-sm-12 {
  margin-bottom: 50px;
}

#skill {
  background-color: #F5F5F3;
}

#skill h5{
  text-align: left;
  padding-left: 10px;
}

#skill .progress{
  background-color: #D2D0CF; 
  border-radius: 15px;
  height: 17px;
}

.progress .progress-bar{
  border-radius: 15px;
  position: absolute;
  height: inherit;
  width: 0%;
  opacity: 0;
  -webkit-animation-duration: 2.5s;
  -moz-animation-duration: 2.5s;
}

#skill .progress-bar-warning {
  background-color: #ff891c;
}

@-webkit-keyframes increasing {
  from {
    width: 0%;
  }
  to{

  }
}

@-moz-keyframes increasing {
  from {
    width: 0%;
  }
}


#skill .progress-bar span{
  background-color: #2d2d2d;
  font-size: 10px;
  padding: 2px;
  position: absolute;
  right: -14px;
  top: -29px; 
}

#skill .progress-bar span::after {
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-top: 4px solid #2D2D2D;
  content: "";
  display: block;
  left: 50%;
  bottom: -3px;
  margin-left: -5px;
  position: absolute;
  height: 0;
  width: 0;
  z-index: 99;
}

#skill .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#work .col-sm-12 {
  margin-bottom: 50px;
}

#work {
  /*background: url(../images/ccu.jpg) no-repeat center center fixed;*/
  background-color: #e8e8e8;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 

#work .thumb {
  height: auto;
  display: inline-block;
  margin: 0 10px;
  text-shadow: none;
  background: #FFF;
  padding: 0px;
  vertical-align: top;
  border: none;
  border-bottom: 1px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#work .thumb .thumb-inner {
  position: relative;
  z-index: 100;
}

#work .thumb .thumb-image img, .thumb-details {
-webkit-border-top-left-radius: 8px;
-webkit-border-top-right-radius: 8px;
-moz-border-radius-topleft: 8px;
-moz-border-radius-top-right: 8px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
}

#work .thumb-details {
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  background: #FE7E17;
  opacity: 0;
  -o-transition: 1s;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}

#work .thumb-details:hover {
  opacity: 0.95;
}

#work .thumb-details .thumb-details-overview {
  padding: 20px;
  font-size: 16px;
  line-height: 24px;
  color: #FFF;
  height: 250px;
  overflow: hidden;
}

#work .thumb-details .thumb-details-overview .thumb-review {
  display: block;
  height: 200px;
  overflow: auto;
}

#work .thumb .thumb-info{
  padding: 0px 15px 5px 15px
}

#work .thumb .thumb-info .thumb-title .thumb-name a{
  color:#444;
}

#work .thumb .thumb-info .thumb-title .thumb-name a:hover{
  color:#FE7E17;
}

#work .panel {
  opacity: 0.85;
}

#contact {
  background-color: #F5F5F3;
  padding: 20px 0 ;
}

#contact .col-sm-12 {
  margin-bottom: 50px;
}

#contact ul{
  padding: 0;
}

#contact ul li {
  list-style-type: none;
  display: inline;
  padding: 0px 8px;
}

#contact ul li img:hover{
  -webkit-transform: scale(1.05,1.05)
}

footer {
  padding: 20px 0;
  background-color: #ff891c;
}
footer .glyphicon {
  color: #080808;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}


