/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
body{
    font-family: arial,sans-serif; 
    font-size: 1em;
    background: #25201e;
    color: #d9d6d5;
}

a{
    color: inherit;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out;
}

p{line-height:1.6;}
/* Example page */
strong{font-weight:bold;}
header{}
header img{float:left;margin:14px 0 0 14px}
header h1{margin-left:14px;float:left;font-size:20px;line-height:100px;}

section {
    position: relative;
    width: 100% !important;
    min-width: 1000px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section:nth-of-type(1){background:#4e4a47;height:700px;}
section:nth-of-type(2){background:#4e4a47;height:500px;}

/*#story-freext>div:nth-of-type(2) {
    background: url(../img/nike-bg.jpg) 50% 0 no-repeat fixed;
    margin: 0;
    height: 700px;
    position:absolute;
    width:100%;
    top:0;left:0;
}*/

/*#story-freext>div:nth-of-type(2) {
    background: url(../img/nike.png) 50% 0 no-repeat fixed;
    margin: 0;
    height: 1600px;
    position:absolute;
    top:0px;left:100px;
    width:100%;
}*/


/*Home
------------------------------------*/
.parallax {
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #FFFFFF;
}

.bg-overlay {
    background:repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    height: 100%;
}

.container{
    width :1000px;
    padding:100px 20px;
    margin-left: auto; 
    margin-right: auto; 
}

.avaterContainer{
    width: 400px;
    position: absolute;
    margin-top: 50px;
    margin-left: 40px;
}

.avater{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    position: relative;
    cursor: default;
    box-shadow: 
        inset 0 0 0 0 rgba(200,95,66, 0.4),
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);    
    margin: 0 auto;
}

.info{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}
.info > h1{
    font-size: 60px;
    color: #FFFFFF;
    font-family: Pacifico ;
}

.shortDescription{
    width:500px;
    height:200px;
    float: right;
    border-radius:20px 20px 20px 20px;
    background:white;
    opacity:0.2;
    margin-top: 100px;
}
.shortDescription > h2{
    color: black;
    width: 450px;
    font-size: 35px;
    margin-top: 30px;
    margin-left: 30px;
    opacity:1;
}

/*About
------------------------------------*/

#home{
    background-image:url(img/london.jpg);
    background: rgba(0, 0, 0, 0.1);
    background-position: 50% 0px;
    margin: 0;
    /*height: 100%;*/
    /*position:absolute;*/
    top:0;left:0;
    width:100%;   
}

/*section h1{color:black;width:450px;font-size:35px;float:right;margin-top:200px;margin-right:150px;}
section h2{position:relative;color:white;width:100px;left:42%;font-size:35px;margin-top:0px;}*/
section p{color:#aba9a4;width:100%;font-size:20px;margin-top:20px;}
section article{position:relative;float:right;width:300px;z-index:4;}

/*.parallax-item{position:absolute;z-index:5;top:40px;left:400px;}*/

.box-holder .arrow{
    position:absolute;
    bottom:0px;
    left:50%;
    width:96px;
    height:51px;
    margin:0 0 0 -48px;
    border-radius:96px 96px 0 0;
    background:url(../img/arrowDown.png) no-repeat 23px 5px #4e4a47;
    text-indent:-9999px;
    overflow:hidden;
}

/*.solid{
    position:absolute;
    top:170px;
    left:-350px;
    width:500px;
    height:200px;
    border-radius:20px 20px 20px 20px;
    background:white;
    opacity:0.2;
}*/

.paragraphContainer {
    display: block;
    position:absolute;
    width:40%;
    height:200px;
    left:30%;
    text-align:center;
}

#navigation-menu{
    position: fixed;
    top: 2em;
    right: 3em;
    left: auto;
    bottom: auto;
    z-index: 9;
    text-shadow: none;
    font-size: 0.85em;
}

#navigation-menu ul{
    overflow: hidden;
    background: #564a44;
    background: rgba(0,0,0,0.5);
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}

#navigation-menu li{
    margin: 3px;
}

#navigation-menu a{
    display: block;
    padding: 0.2em 0.6em;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}

#navigation-menu a:hover, #navigation-menu a.mPS2id-highlight{
    background: #e6842c;
    color: #fff;
}

#navigation-menu{
    font-size: 1em;
    top: 1.55em;
}

.horizontal-layout #navigation-menu, .auto-layout #navigation-menu{
    right: 3em;
    left: auto;
    top: 1.55em;
}
    
#navigation-menu ul{
    -moz-border-radius: 17px; -webkit-border-radius: 17px; border-radius: 17px;
}

#navigation-menu li{
    float: left;
    margin: 3px 5px;
}

#navigation-menu a{
    -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px;
}
